# Sync with readthedocs:
# https://github.com/readthedocs/readthedocs.org/blob/master/requirements/pip.txt
# https://github.com/readthedocs/readthedocs.org/blob/master/requirements/docs.txt

# Base dependencies
pygments==2.19.2

# Sphinx base and RTD theme.
sphinx==8.2.3
sphinx_rtd_theme==3.0.2

# Sphinx extensions.
sphinxcontrib-svg2pdfconverter==1.2.2
docutils==0.21.2
